.dicom-viewer__wrapper .gallery-item {
	position: relative;
}

.dicom-viewer__wrapper .gallery-item figcaption {
	bottom: 0px;
	position: absolute;
	color: black;
	background-color: white;
	padding: 3px 6px;
}
