/* rad-image post editor */

/* shortcode metabox */
#rad_shortcode_meta_box .inside {
	display: flex;
}

#rad_shortcode_field {
	flex: 1;
}

#copy_rad_shortcode {
	flex: 0;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
}

#copy_rad_shortcode.copied {
	color: green;
}
