.rad-image__wrapper > .gallery {
	margin-bottom:2rem;
}

.rad-image__wrapper .gallery-item {
	position: relative;
}

.rad-image__wrapper .gallery-item figcaption {
	bottom: 0px;
	position: absolute;
	color: black;
	background-color: white;
	padding: 3px 6px;
}
